.footer
    padding 45px 0
    height 150px
    background-color mandarinBlack

    .container
        height 100%
        display flex
        justify-content space-between
        align-items flex-start

    &__title
        color white
        font-family lightFont
        font-size 14px
        margin-bottom 10px

    &-socials

        &__content
            display flex
            justify-content space-between
            align-items center

        &__link
            display block
            width 30px
            height 30px
            &--facebook
                background url('../img/general/facebook-icon.png') center no-repeat
                background-size cover
            &--insta
                background url('../img/general/instagram-icon.png') center no-repeat
                background-size cover
    &-feedback

        &__form
            display flex
            justify-content space-between
            align-items center
        &__input
            padding 5px
            width 220px
            display block
            border none
            border-bottom 1px solid white
            background-color transparent
            color white
            font-family mainFont
            font-size 14px
            margin-right 20px

        &__btn
            padding 0 5px
            max-width 110px
            width 100%
            height 30px
            border none
            border-radius 15px
            background-color mandarinYellowDark
            color white
            font-family mainFont
            font-size 14px
            transition all linear .5s
            cursor pointer

            &:hover
                background-color mandarinYellowLight

    &-contacts
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-end

        &__link
            color white
            font-family lightFont
            font-size 14px
            transition all linear .5s
            cursor pointer
            margin-bottom 5px

            &:last-child
                margin-bottom 0

            &:hover
                color mandarinYellowLight