section.home
	.container
		.home-slider
			.home-slider__prev
			.home-slider__next
			.js-home-slider
				.home-slider__item
					img(src="./static/img/content/home/home-slider-1.jpg", alt="").home-slider__img
				.home-slider__item
					img(src="./static/img/content/home/home-slider-1.jpg", alt="").home-slider__img
				.home-slider__item
					img(src="./static/img/content/home/home-slider-1.jpg", alt="").home-slider__img
				.home-slider__item
					img(src="./static/img/content/home/home-slider-1.jpg", alt="").home-slider__img

		.home-product-slider
			.home-product-slider__title
				span Новинки
			.home-product-slider__prev
				.home-product-slider__prev-arrow
			.home-product-slider__next
				.home-product-slider__next-arrow
			.js-home-product-slider
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__label.home-product-slider__label--top
						span TOP
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__label.home-product-slider__label--new
						span New
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__label.home-product-slider__label--sale
						span SALE
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить
				.home-product-slider__item
					img(src="./static/img/content/home/home-product-slider-1.png", alt="").home-product-slider__img
					.home-product-slider__info
						.home-product-slider__name
							span Блюдце зеленое 16 см,
						.home-product-slider__leavel
							span Royal, Genware
						.home-product-slider__model
							span Модель: 
							span.home-product-slider--bold 182115GR
						.home-product-slider__price
							span Цена: 
							span.home-product-slider--red 117.85 грн.
						button.home-product-slider__btn Купить

		.home-text
			p 
				| Зайдя в наш интернет-магазин, Вы можете недорого купить посуду 
				| известных отечественных и зарубежных производителей. Хозяйки, 
				| профессиональные повара и рестораторы смогут сэкономить не только 
				| свои деньги, но и время. Интернет магазин предлагает стильные 
				| тарелки, чашки, стаканы и салатницы и другую посуду 
				| профессиолнальных торговых марок. Вся посуда предлагается по самым 
				| оптимальным ценам. В каталоге представлен огромный выбор кухонной 
				| утвари, которая поможет приготовить разнообразные блюда и красиво 
				| сервировать повседневный и праздничный стол. Розничные и оптовые 
				| покупатели могут также ознакомится с ассортиментом, каталогами и 
				| образцами посуды в нашем шоу руме, по адресу: Киев, бул. Дружбы 
				| Народов 13.