.nav
	height 50px

	.container
		height 100%
		display flex
		justify-content space-between
		align-items center

	&__list
		height 100%
		display flex
		justify-content space-between
		align-items center

	&__item
		height 100%
		display flex
		align-items flex-end

	&__link
		padding 6px 20px 10px
		max-width 105px
		width 100%
		height 46px
		color black
		border-radius 22px 22px 0 0
		display flex
		align-items center
		font-family lightFont
		font-size 14px
		transition all linear .5s
		cursor pointer

		&:hover
			background-color mandarinYellowLight

	&-search
		max-width 195px
		width 100%
		border-radius 18px
		display flex
		justify-content flex-start
		align-items center
		transition all linear 1s

		&.active
			padding 0 5px
			box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
			.nav-search__input
				padding 0 10px
				opacity 1
				width 100%

			.nav-search__btn
				min-width 30px
				width 30px
				height 30px
				background-color mandarinYellowDark
				&:after
					background url('../img/general/magnifier-icon--white.png') center no-repeat
					background-size contain
		&__input
			padding 0
			opacity 0
			width 0%
			height 36px
			border none
			background-color transparent
			color mandarinBlack
			font-family lightFont
			font-size 14px
			transition 1s


		&__btn
			padding 0
			position relative
			min-width 36px
			width 36px
			height 36px
			box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
			background-color transparent
			border none
			border-radius 18px
			transition all linear .5s
			cursor pointer

			&:after
				content ''
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				width 16px
				height 16px
				background url('../img/general/magnifier-icon--black.png') center no-repeat
				background-size contain

			&:hover
				background-color mandarinYellowDark
				&:after
					background url('../img/general/magnifier-icon--white.png') center no-repeat
					background-size contain

	&-log
		padding-top 4px
		max-width 210px
		width 100%
		height 100%
		display flex
		justify-content space-between
		align-items center


		&__link
			padding 6px 20px 10px
			max-width 105px
			width 100%
			height 46px
			color black
			border-radius 22px 22px 0 0
			display flex
			justify-content center
			align-items center
			font-family lightFont
			font-size 14px
			transition all linear .5s
			cursor pointer

			&:hover
				background-color mandarinYellowLight

	&-language
		padding 0 5px
		width 68px
		height 38px
		box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
		border-radius 18px
		background-color white
		display flex
		justify-content space-between
		align-items center

		&__link
			opacity .2
			color black
			font-family mediumFont
			font-size 10px
			transition all linear .1s
			cursor pointer

			&.active
				width 30px
				height 30px
				opacity 1
				border-radius 50%
				background-color mandarinYellowDark
				display flex
				justify-content center
				align-items center

	&-basket
		display flex
		align-items center
		&__btn
			padding 0
			position relative
			width 36px
			height 36px
			box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
			border none
			border-radius 18px
			background-color transparent
			transition all linear .5s
			cursor pointer

			&:after
				content ''
				position absolute
				top 50%
				left 50%
				transform translate(-50%, -50%)
				width 16px
				height 16px
				background url('../img/general/basket-icon--black.png') center no-repeat
				background-size contain

	&-phone-mobile
		position relative
		display none
		width 36px
		height 36px
		box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
		border-radius 18px
		background-color white

		&:after
			content ''
			position absolute
			top 50%
			left 50%
			transform translate(-50%, -50%)
			width 16px
			height 16px
			background url('../img/general/phone-icon--yellow.png') center no-repeat
			background-size contain

	&__sandwich
		position relative
		display none
		vertical-align middle
		min-width 36px
		width 36px
		height 36px
		box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
		background-color white
		border-radius 50% 
		transition all linear .5s  
		cursor pointer

		&:hover
			background-color mandarinYellowDark

			.sandwich-line
				background-color white

		&.active
			.sandwich-line--top
				left 9px
				top 16px
				transform rotate(45deg)

			.sandwich-line--middle
				opacity 0

			.sandwich-line--bottom
				left 9px
				top 16px
				transform rotate(-45deg)

		.sandwich-line
			position absolute
			left 50%
			transform translateX(-50%)
			display block
			border-radius 2px
			width 18px
			height 4px
			background-color mandarinYellowDark
			transition all linear .5s

		.sandwich-line--top
			top 8px

		.sandwich-line--middle
			top 16px
			opacity 1

		.sandwich-line--bottom
			top 24px

