footer.footer
    .container
        .footer-socials
            .footer__title
                span Будьте с нами:
            .footer-socials__content
                a(href="#" target="_blank").footer-socials__link.footer-socials__link--facebook
                a(href="#" target="_blank").footer-socials__link.footer-socials__link--insta
        .footer-feedback
            .footer__title
                span Хотите знать о новинках и акциях?
            form.footer-feedback__form
                input(type="text" name="footerEmail" id="footerEmail" placeholder="введите e-mail").footer-feedback__input
                input(type="submit" id="footerFormBtn" value="Подписаться").footer-feedback__btn

        .footer-contacts
            .footer__title
                span Киев, бульвар Дружбы народов 13
            a(href="tel:+380676288857" target="_blank").footer-contacts__link +38-067-628-88-57
            a(href="tel:+380676288859" target="_blank").footer-contacts__link +38-067-628-88-59