footer.footer
    .container
        .footer-logo
            img(src="./static/img/general/header-logo.png", alt="")
        ul.footer__list
            li.footer__item
                a(href="#").footer__link.scroll-link Материалы
            li.footer__item
                a(href="#").footer__link.scroll-link Фотогалерея
            li.footer__item
                a(href="#").footer__link.scroll-link О Магазине
            li.footer__item
                a(href="#").footer__link.scroll-link Монтаж
            li.footer__item
                a(href="#").footer__link.scroll-link Контакты
        .footer-social
            .footer-social__title
                span Социальные сети:
            a(href="#" target="_blank").footer-social__link Instagram
            a(href="#" target="_blank").footer-social__link Facebook

        .footer-phone
            .footer-phone__title
                span Телефоны:
            a(href="tel:+380977195000" target="_blank").footer-phone__link + 38 (097) 719-50-00
            a(href="tel:+380660915159" target="_blank").footer-phone__link + 38 (066) 091-51-59
            a(href="tel:+380675754015" target="_blank").footer-phone__link + 38 (067) 575-40-15