header.header
    .container
        .header-line
            .header-logo
                img(src="./static/img/general/logo.png", alt="").header-logo__img
            .header-phone
                a(href="tel:+380676288857" target="_blank").header__link +38-067-628-88-57
                a(href="tel:+380676288859" target="_blank").header__link +38-067-628-88-59
            .header-locations
                a(href="#" target="_blank").header__link Киев, бульвар Дружбы народов 13
            .header-brands
                a(href="#").header__link Бренды
            .header-actions
                a(href="#").header__link Акции
        .header-line
            .header-info
                span Профессиональная посуда для ресторанов, отелей, кафе
            .header-info
                span Минимальная сумма заказа 
                span.header-info--bold 1000 грн
