menu.menu
	.container
		ul.menu__list
			li.menu__item
				a(href="#").menu__link Фарфоровая посуда
				.menu-category
			li.menu__item
				a(href="#").menu__link Керамическая посуда
				.menu-category
			li.menu__item
				a(href="#").menu__link Стеклянная посуда
				.menu-category
			li.menu__item
				a(href="#").menu__link Столовые приборы
				.menu-category
			li.menu__item
				a(href="#").menu__link Сервировка
				.menu-category
			li.menu__item
				a(href="#").menu__link Ножи
				.menu-category
			li.menu__item
				a(href="#").menu__link Наплитная посуда
				.menu-category
			li.menu__item
				a(href="#").menu__link Кухонный инвентарь
				.menu-category
			li.menu__item
				a(href="#").menu__link Кондитерский инвентарь
				.menu-category
			li.menu__item
				a(href="#").menu__link Барный инвентарь
				.menu-category