menu.menu
	.container
		ul.menu__list
			li.menu__item
				a(href="#").menu__link Фарфоровая посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Керамическая посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Стеклянная посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Столовые приборы
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Сервировка
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Ножи
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Наплитная посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Кухонный инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Кондитерский инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Барный инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img