menu.menu
	.container
		.menu-mobile
			.menu-mobile__header
				.menu-mobile__title
					span Каталог товаров
				.menu-mobile__btn
					span.menu-mobile__btn-line.menu-mobile__btn-line--1
					span.menu-mobile__btn-line.menu-mobile__btn-line--2
			.menu-mobile__category
				.menu-mobile__item
					.menu-mobile__name
						span Фарфоровая посуда
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Керамическая посуда
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Стеклянная посуда
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Столовые приборы
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
				.menu-mobile__item
					.menu-mobile__name
						span Сервировка
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
				.menu-mobile__item
					.menu-mobile__name
						span Ножи
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Кухонная посуда
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
				.menu-mobile__item
					.menu-mobile__name
						span Кухонный инвентарь
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Кондитерский инвентарь
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы

				.menu-mobile__item
					.menu-mobile__name
						span Барный инвентарь
						span.menu-mobile__name-plus
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
							span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
					.menu-mobile-panel
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Белый фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Фарфоровые тарелки
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Костяной фарфор
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
						.menu-mobile-panel__item
							.menu-mobile-panel__name
								span Бренды
								span.menu-mobile__name-plus
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--1
									span.menu-mobile__name-plus-line.menu-mobile__name-plus-line--2
							ul.menu-mobile-panel__list
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Аксессуары
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюда из фарфора 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Блюдца к чашкам
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Бульонницы 
								li.menu-mobile-panel-list__item
									a(href="#").menu-mobile-panel__link Конфетницы
				.menu-mobile__item
			

		ul.menu__list
			li.menu__item
				a(href="#").menu__link Фарфоровая посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Керамическая посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Стеклянная посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Столовые приборы
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Сервировка
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Ножи
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Наплитная посуда
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Кухонный инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Кондитерский инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img
			li.menu__item
				a(href="#").menu__link Барный инвентарь
				.menu-category
					.menu-category__left

						.menu-category__block
							.menu-category__title
								span Белый фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Аксессуары
								li.menu-category__item
									a(href="#").menu-category__link Блюда из фарфора
								li.menu-category__item
									a(href="#").menu-category__link Блюдца к чашкам
								li.menu-category__item
									a(href="#").menu-category__link Бульонницы
								li.menu-category__item
									a(href="#").menu-category__link Конфетницы

						.menu-category__block
							.menu-category__title
								span Костяной фарфор
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Костяной фарфор
								li.menu-category__item
									a(href="#").menu-category__link Кофейники
								li.menu-category__item
									a(href="#").menu-category__link Молочники
								li.menu-category__item
									a(href="#").menu-category__link Перечницы и солонки

						.menu-category__block
							.menu-category__title
								span Фарфоровые тарелки
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Сахарницы
								li.menu-category__item
									a(href="#").menu-category__link Супницы
								li.menu-category__item
									a(href="#").menu-category__link Тарелки десертные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для супа
								li.menu-category__item
									a(href="#").menu-category__link Тарелки для японских блюд
								li.menu-category__item
									a(href="#").menu-category__link Тарелки обеденные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки подставные
								li.menu-category__item
									a(href="#").menu-category__link Тарелки фарфоровые
								li.menu-category__item
									a(href="#").menu-category__link Чайники (заварники)
								li.menu-category__item
									a(href="#").menu-category__link Чашки
								li.menu-category__item
									a(href="#").menu-category__link Японская кухня

						.menu-category__block
							.menu-category__title
								span Бренды
							ul.menu-category__list
								li.menu-category__item
									a(href="#").menu-category__link Бренд 1
								li.menu-category__item
									a(href="#").menu-category__link Бренд длинный 2
								li.menu-category__item
									a(href="#").menu-category__link Бренд 3
								li.menu-category__item
									a(href="#").menu-category__link Бренд очень длинный 4
								li.menu-category__item
									a(href="#").menu-category__link Бренд 5
								li.menu-category__item
									a(href="#").menu-category__link Бренд 6
								li.menu-category__item
									a(href="#").menu-category__link Бренд 7
								li.menu-category__item
									a(href="#").menu-category__link Бренд 8

					.menu-category__right
						img(src="./static/img/content/menu/menu-category-1.jpg", alt="").menu-category__img