nav.nav
	.container
		ul.nav__list
			li.nav__item
				a(href="#").nav__link Оплата и доставка
			li.nav__item
				a(href="#").nav__link Гарантии
			li.nav__item
				a(href="#").nav__link Шоурум
			li.nav__item
				a(href="#").nav__link Контакты
		.nav__sandwich
			span.sandwich-line.sandwich-line--top
			span.sandwich-line.sandwich-line--middle
			span.sandwich-line.sandwich-line--bottom
		.nav-search
			input(type="text" name="navSearch" id="navSearch").nav-search__input
			button.nav-search__btn
		a(href="tel:+380676288857" target="_blank").nav-phone-mobile
		.nav-log
			a(href="#").nav-log__link Вход
			a(href="#").nav-log__link Регистрация
		.nav-language
			a(href="#").nav-language__link.active РУС
			a(href="#").nav-language__link УКР
		.nav-basket
			button.nav-basket__btn