.popup-menu#popupMenu
    .popup-menu__content
        .popup-menu-close
            span.popup-menu-close__line
            span.popup-menu-close__line
        .popup-menu__title 
            span.popup-menu__title--bold Задать вопрос
            span или узнать цену

        .popup-menu__list
            a(href="#").popup-menu__link.scroll-link Материалы
            a(href="#").popup-menu__link.scroll-link Фотогалерея 
            a(href="#").popup-menu__link.scroll-link О Магазине 
            a(href="#").popup-menu__link.scroll-link Монтаж  
            a(href="#").popup-menu__link.scroll-link Контакты
    