.popup-menu
    padding 20px 10px
    z-index 50
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color white
    display none
    flex-direction column
    justify-content flex-start
    align-items flex-start
    animation fadeIn .5s

    &-header
        width 100%
        display flex
        justify-content space-between
        align-items center
        margin-bottom 25px

    &-close
        position relative
        width 36px
        height 36px
        box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
        border-radius 18px
        background-color white
        cursor pointer

        &:hover
            background-color mandarinYellowDark
            .popup-menu-close__line
                background-color white

        &__line
            position absolute
            top 45%
            left 28%
            transform translate(-50%, -50%)
            display block
            width 18px
            height 4px
            background-color mandarinYellowDark
            border-radius 2px
            transition all linear .5s

            &:first-child
                transform rotate(45deg)
            
            &:last-child
                transform rotate(-45deg)

    &-language
        padding 0 5px
        width 68px
        height 38px
        box-shadow 0 0 5px 1px rgba(0, 0, 0, 0.21)
        border-radius 18px
        background-color white
        display flex
        justify-content space-between
        align-items center

        &__link
            opacity .2
            color black
            font-family mediumFont
            font-size 10px
            transition all linear .1s
            cursor pointer

            &.active
                width 30px
                height 30px
                opacity 1
                border-radius 50%
                background-color mandarinYellowDark
                display flex
                justify-content center
                align-items center

    &__title
        color mandarinYellowDark
        font-family mediumFont
        font-size 14px
        margin-bottom 10px

    &-log
        padding-left 20px
        margin-bottom 30px

    &__list
        padding-left 20px
        display flex
        flex-direction column
        justify-content flex-start
        align-items flex-start
        

    &__item
        margin-bottom 20px

        &:last-child
            margin-bottom 0

    &__link
        color black
        border-bottom 1px solid white
        font-family lightFont
        font-size 14px
        transition all linear .5s
        cursor pointer

        &:first-child
            margin-right 20px

        &:hover
            color mandarinYellowDark
            border-color mandarinYellowDark

    &-footer
        padding-top 60px

    &-actions
        padding-left 25px
        position relative
        margin-bottom 10px

        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translateY(-50%)
            width 14px
            height 14px
            background url('../img/general/percent-icon--yellow.png') center no-repeat
            background-size contain

    &-brands
        padding-left 25px
        position relative
        margin-bottom 10px

        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translateY(-50%)
            width 14px
            height 14px
            background url('../img/general/logo-icon--small.png') center no-repeat
            background-size contain

    &-locations
        padding-left 25px
        position relative
        margin-bottom 10px

        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translateY(-50%)
            width 14px
            height 14px
            background url('../img/general/locations-icon--yellow.png') center no-repeat
            background-size contain

    &-phone
        padding-left 25px
        position relative
        display flex
        justify-content space-between
        align-items center

        &:after
            content ''
            position absolute
            top 50%
            left 0
            transform translateY(-50%)
            width 14px
            height 14px
            background url('../img/general/phone-icon--yellow.png') center no-repeat
            background-size contain

@keyframes fadeIn
    from {
        opacity 0
    }
    to {
        opacity 1
    }

@keyframes fadeOut
    from {
        opacity 1
    }
    to {
        opacity 0
    }