.desr__btn
    padding 0
    border none
    background-color transparent
    color #444444
    font-family lightFont
    font-size 18px
    border-bottom 1px solid #444444
    transition all linear .5s
    cursor pointer

    &:hover
        color cheryBlue
        border-color cheryBlue