// Color
mandarinYellowLight = #f5cf05
mandarinBlack       = #231f20
mandarinYellowDark  = #f8a823
mandarinRed         = #d82323


// Size
baseFontSize        = 16px
desktopWidth        = 1280px
paddingLeftRight    = 115px

// Fonts
mainFont            = 'RobotoRegular', Arial, Helvetica, sans-serif
thinFont            = 'RobotoThin', Arial, Helvetica, sans-serif
lightFont           = 'RobotoLight', Arial, Helvetica, sans-serif
mediumFont          = 'RobotoMedium', Arial, Helvetica, sans-serif
boldFont            = 'RobotoBold', Arial, Helvetica, sans-serif
blackFont           = 'RobotoBlack', Arial, Helvetica, sans-serif
SSProLightFont      = 'SourceSansProLight', Arial, Helvetica, sans-serif
SSProBlackFont      = 'SourceSansProBlack', Arial, Helvetica, sans-serif